<!DOCTYPE html>
<html>
<head>
  <title>ExpenseTracker</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Expense Tracker</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-info">
              <%= value %>
        </div>
    <% end %>
    <%= yield %>
  </div>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
