= row do
  .business-title
    %h4= "#{@business.name}"
    .business-address
      = @business.address

= row do
  %strong= "#{@business.reports.count} Reports with #{@business.report_entries.count} Entries"

= row do
  = form_for(@upload_service, as: :upload_service, method: :post, url: upload_business_business_path(@business), html: { class: 'form-inline' } ) do |f|
    = f.file_field :csv, accept: '.csv', class: 'form-control'
    %button.btn.btn-primary.form-control{type: 'submit'} Upload