= row do
  .business-title
    %h4= "#{@business.name}"
    .business-address
      = @business.address

= row do
  %strong= "#{@business.reports.count} Reports with #{@business.report_entries.count} Entries"