%h1 Listing employees

%table
  %thead
    %tr
      %th Name
      %th Address
      %th
      %th
      %th

  %tbody
    - @employees.each do |employee|
      %tr
        %td= employee.name
        %td= employee.address
        %td= link_to 'Show', employee
        %td= link_to 'Edit', edit_employee_path(employee)
        %td= link_to 'Destroy', employee, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Employee', new_employee_path
