<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tax.name %>
</p>

<p>
  <strong>Total expenses:</strong>
  <%= @tax.expenses.count %>
</p>
<p>
  <strong>Total paid:</strong>
  <%= number_to_currency(@tax.calculate_total()) %>
</p>

<div>
  <h2>Details paid to <%= @tax.name %></h2>
  <table class="expense_data">
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Employee</th>
        <th>Expense Description</th>
        <th>Tax Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @tax.expenses.each do |expense| %>
        <tr>
          <td><%= expense.date %></td>
          <td><%= link_to expense.category.full_name, expense.category %></td>
          <td><%= link_to expense.employee.name, expense.employee %></td>
          <td><%= link_to expense.description, expense %></td>
          <td class="numerical"><%= number_to_currency(expense.get_amount_for_tax(@tax).amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_tax_path(@tax) %> | 
<%= link_to 'All Taxes', taxes_path %>
