<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Parent Category</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= link_to(category) do %>
            <%= category.full_name %>
          <% end %>
        </td>
        <td><%= category.description %></td>
        <td>
          <% if category.parent %>
            <%= link_to(category.parent) do %>
              <%= category.parent.full_name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
