<p id="notice"><%= notice %></p>
<h2><%= @category.name %></h2>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<% if @category.parent %>
  <p>
    <strong>Parent category:</strong>
    <%= link_to @category.parent.full_name, @category.parent %>
  </p>
<% end %>

<p>
  <strong>Total expense:</strong> <%= number_to_currency(@category.calculate_total_expense()) %>
</p>
<!-- partial for child expenses -->
<% if @category.children.count > 0 %>
  <p>
    <strong>Total expense including child categories:</strong> <%= number_to_currency(@category.calculate_total_expense_including_children()) %>
  </p>

  <p>
    <strong>Children:</strong>
  </p>

  <table class="expense_data">
    <thead>
      <tr>
        <th>Child Category</th>
        <th>Expenses</th>
        <th>Expenses with<br>child categories</th>
      </tr>
    </thead>

    <tbody>
      <% @category.children.each do |child| %>
        <tr>
          <td><%= link_to child.name, child %></td>
          <td class="numerical"><%= number_to_currency(child.calculate_total_expense()) %></td>
          <td class="numerical"><%= number_to_currency(child.calculate_total_expense_including_children()) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @category.expenses.count > 0 %>
  <div>
    <%= render partial: "expenses/total_by_month", locals: {dates_and_totals: @dates_and_totals} %>
  </div>

  <div>
    <h2>Detailed Expenses</h2>

    <table class="expense_data">
      <thead>
        <tr>
          <th>Date</th>
          <th>Employee</th>
          <th>Expense Description</th>
          <th>Pre-Tax Amount</th>
          <th>Taxes</th>
          <th>Taxes Levied</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @category.expenses.each do |expense| %>
          <tr>
            <td><%= expense.date %></td>
            <td><%= link_to expense.employee.name, expense.employee %></td>
            <td><%= link_to expense.description, expense %></td>
            <td class="numerical"><%= number_to_currency(expense.amount) %></td>
            <td>
              <%= render partial: "taxes/tax_list", locals: {taxes: expense.taxes} %>
            </td>
            <td class="numerical"><%= number_to_currency(expense.calculate_total_tax_amount()) %></td>
            <td class="numerical"><%= number_to_currency(expense.calculate_total_amount()) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'All Categories', categories_path %>
