<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<% if @category.parent %>
  <p>
    <strong>Parent category:</strong>
    <%= link_to(@category.parent) do %>
      <%= @category.parent.name %>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Children:</strong>
  <tbody>
    <% @category.children.each do |child| %>
      <tr>
        <td>
          <%= link_to(child) do %>
            <%= child.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'All Categories', categories_path %>
