<h1>Hello</h1>

<%= form_tag({controller: "admin/dashboard", action: "import_csv"}, multipart: true) do %>
	<% if csv_file.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(csv_file.errors.count, "error") %> prohibited the file from being uploaded
      </h2>
      <ul>
        <% csv_file.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag(:file, "Upload File") %>
	<%= file_field_tag(:file) %>
	<%= submit_tag("Submit") %>

<% end %>





