<% provide(:title, "Category: " + @category.name) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Category Info</h3>
      <p><%= "Name: " + @category.name %></p>
      <%= link_to "Edit Category Info", edit_category_path(@category), class: "btn btn-primary" %>
      <%= link_to "Delete Category", @category, method: :delete, class: "btn btn-danger",
          data: { confirm: "Related expense records will also be deleted. Continue?" } %>
    <br/><br/>
    <h3><%= "Expense Records of " + @category.name %></h3>
    <br/>
  </div>
</div>
<% if @expenses.count == 0 %>
  <div class="row center">
    <h3><%= "No Expense Record Under This Category" %></h3>
  </div>
<% else %>
  <%= render "shared/expense_table", object: @expenses %>
<% end %>