<!-- Report information -->
<div class="container top-container" >
	<div class="row">
		<div class="col-md-5">
			<h2><%= @report.name%>'s employees' expenses</h2>
		</div>
	</div>
</div>

<!-- Employee expenses -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#monthly" role="tab" data-toggle="tab">Monthly</a></li>
				<li ><a href="#table" role="tab" data-toggle="tab">All</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane " id="table">
			  	<table class="table table-hover">
			  		<tr>
			  			<td>
			  				Date
			  			</td>
			  			<td>
			  				Category
			  			</td>
			  			<td>
			  				Name of employee
			  			</td>
			  			<td>
			  				Address of employee
			  			</td>
			  			<td>
			  				Description
			  			</td>
			  			<td>
			  				Pre-tax amount
			  			</td>
			  			<td>
			  				Tax name
			  			</td>
			  			<td>
			  				Tax Amount
			  			</td>
			  		</tr>
			  		<% @employees.each do |employee| %>
						<tr>
							<td>
								<%= employee.date%>
							</td>
							<td>
								<%= employee.category%>
							</td>
							<td>
								<%= employee.name%>
							</td>
							<td>
								<%= employee.address%>
							</td>
							<td>
								<%= employee.description%>
							</td>
							<td>
								$<%= employee.pre_tax_amount%>
							</td>
							<td>
								<%= employee.tax_name%>
							</td>
							<td>
								$<%= employee.tax_amount%>
							</td>
						</tr>
						

					<%end%>
			  	</table>
			  </div>

			  <div class="tab-pane active" id="monthly">
			  	<table class="table">
			  		<tr>
			  			<td>Month</td>
			  			<td>Total pre-tax amount</td>
			  			<td>Total tax amount</td>

			  		</tr>
			  		<!-- Group by beginning of the month to act as 'per month' then loop through -->
			  		<!-- each month and their expenses -->
				  	<% @per_month.each do |month, taxes| %>
						<tr>
							<td>
								<%= month %>
							</td>
							<td>
								$<%= taxes.map{|tax| tax.pre_tax_amount.to_i}.inject(:+) %>
							</td>
							<td>
								$<%= taxes.map{|tax| tax.tax_amount.to_i}.inject(:+) %>
							</td>
						</tr>		
				  	<% end%>
			  	</table>
			  </div>
			</div>
		</div>
	</div>
	<div class="row" style="padding-bottom:5%">
		<div class="col-md-12">
			<h2>Monthly graph</h2>
			<div id="line-tax"></div>
			  	<script>  
			  		// Using Morrisjs open-source library.
			  		// See http://morrisjs.github.io/morris.js/lines.html for options
				  	Morris.Line({
					  	element: 'line-tax',
					  	preUnits: "$",
					  	data: [
					    	<% @per_month.each do |month, taxes| %>
					      		{y: '<%= month %>', a: <%= taxes.map{|tax| tax.tax_amount.to_i}.inject(:+) %>},
					    	<% end %>
					  	],
					  	xkey: 'y',
					  	ykeys: ['a'],
					  	labels: ['Tax amount']
					});
				

				</script>
		</div>
	</div>
</div>
