<h2> Import Expenses </h2>

<%= form_tag import_expenses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

 
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>
 
<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.employee.name %></td>
    <td><%= expense.employee.address %></td>
  </tr>
<% end %>
</table>

