%p#notice= notice

%p
  %b Date:
  = @expense.date
%p
  %b Category:
  = @expense.category_id
%p
  %b Employee:
  = @expense.employee_id
%p
  %b Employee address:
  = @expense.employee_address
%p
  %b Expense description:
  = @expense.expense_description
%p
  %b Pre tax amount:
  = @expense.pre_tax_amount
%p
  %b Tax:
  = @expense.tax_id
%p
  %b Tax amount:
  = @expense.tax_amount

= link_to 'Edit', edit_expense_path(@expense)
\|
= link_to 'Back', expenses_path
