<% provide(:title, "Upload Expense Record File") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 left">
    <%= form_for(:record_file, url: expenses_upload_path) do |f| %>

      <%= f.label "Choose File" %>
      <%= f.file_field :file, class: "form-control" %>

      <%= f.label "Override or Add" %>
      <%= f.label :override, class: "checkbox inline" do %>
        <%= f.check_box :override %>
        <span>I want to override current database.</span>
      <% end %>

      <%= f.submit "Upload File", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>