<!DOCTYPE html>
<html>
<head>
<title>Wave Software Development Challenge</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= csrf_meta_tags %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div id="user_nav">
    <% if current_user %>
        Welcome, <%= current_user.name %>!
      <%= link_to "Sign Out", signout_path %>
    <% else %>
  <%= link_to "Sign in with Google+", "auth/google" %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
