<!DOCTYPE html>
<html>
  <head>
    <title>Expenses Importer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body <%= controller_name %>-control <%= action_name %>-action">
    <header>
      <%= link_to 'EXPENSES IMPORTER', root_path %>
    </header>
    <div class="content">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
