<!DOCTYPE html>
<html>
<head>
  <title>Expense-o-tron 5000</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Expense Sheets', expense_sheets_path %></li>
        <li><%= link_to 'Expenses', expenses_path %></li>
      </ul>
      <h3 class="text-muted">Expense-o-tron 5000</h3>
    </div>
    <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
    <% end %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
