<!DOCTYPE html>
<html>
<head>
  <title>SeChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <%= render partial: '/navbar' %>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
